{% extends 'base.html' %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}

    <!DOCTYPE html>
    <html>
    <body>


    <div class="container">
        <h1>{{ user }}s Profile </h1>
        <div style="margin: 24px 0;">
            <p>Username: {{ user }}</p>
            <p>Email: {{ user.userprofilemodel.email }}</p>
            <p>Age: {{ user.userprofilemodel.age }}</p>
            <p>Height: {{ user.userprofilemodel.height }} CM </p>
            <p>Weight: {{ user.userprofilemodel.weight }} KG </p>
            <p>User Bio: {{ user.userprofilemodel.bio }} </p>
            {% if user.userprofilemodel.image %}
                <img src="{{ user.userprofilemodel.image.url }}" width="240">
            {% endif %}

        </div>
    </div>
    </body>
    </html>
    {#    </div>#}
{% endblock %}
