{% extends 'base.html' %}

{% block body %}
    <div class="container">
{#    <p>Simply enter the food or meal that you have just eaten or are preparing.</p>#}
{#        <p><strong>EXAMPLE: </strong> Type in "Apple" to get the nutritional information for an apple</p>#}
{#        <strong>OR</strong>#}
{#        <p>Enter information abount what you are eating, like: For breakfast I had 100g of porridge. </p>#}

  <h2>Nutrition Information Search</h2>

  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success">Search Nutrition</button>

  </form>

        <br>
        <p>Food name:  {{ search_results.food_name }}</p>
        <p>Calories:  {{ search_results.nf_calories }}</p>
        <p>Protein:  {{ search_results.nf_protein }} g</p>
        <p>Fats:  {{ search_results.nf_total_fat }} g</p>
        <p>Of which saturated fats: {{ search_results.nf_saturated_fat}} g</p>
        <p>Weight:  {{ search_results.serving_weight_grams }} grams</p>

    </div>
{% endblock %}
